.BoardList {
	list-style: none;
	padding:0;
	margin:0;
	height:100vh;
	overflow: auto;
}
.BoardList::-webkit-scrollbar {
	width: 0 !important;
}

.BoardList_item {
	width: 100%;
	padding:0;
}

.BoardList_link {
	text-decoration: none;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	padding: 20px 25px 20px 25px;
	display: block;
	color: #0E0E0E;

	&.router-link-active {
		 font-weight: bold;
	 }
}

@media (max-width: 1200px) and (min-width: 900px){
	.BoardList_link {
		font-size: 2vw;
	}
}

@media (max-width: 900px) {
	.BoardList {

	}
}